# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.db
*.sqlite3

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Docker
docker-compose.override.yml
